@import '../../styles/base/settings';

.footer {
    background-color: $dark;
    justify-content: center;
    display: flex;
    filter: drop-shadow(4px 4px 30px rgba(0, 0, 0, 0.60));
    bottom: 0%;
    width: 100%;
    

    & h5, a {
        color: $light;
        padding: 5px;
        margin: 0%;

        & a:hover {
            color: $primary;
            transition: $transition;
        }

    }
}